<?xml version="1.0"?>
<plugin>
    <extension id="ELK.reasoner.factory" point="org.protege.editor.owl.inference_reasonerfactory">
        <name value="ELK ${project.version}"/>
        <label value="ELK ${project.version}"/>
        <class value="org.semanticweb.elk.protege.ProtegeReasonerFactory"/>
    </extension>
</plugin>
