<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension id="elk.reasoner.factory" point="org.protege.editor.owl.inference_reasonerfactory">
	<name value="ELK ${project.version}"/>
	<class value="org.semanticweb.elk.protege.ProtegeReasonerFactory"/>
</extension>

<extension id="elk.reasoner.configuration" point="org.protege.editor.owl.inference_preferences">
	<label value="ELK"/>
	<class value="org.semanticweb.elk.protege.ui.ElkPreferencesPanel"/>
</extension>

<extension id="elk.init" point="org.protege.editor.core.application.EditorKitHook">
	<class value="org.semanticweb.elk.protege.ElkProtegePluginInstance"/>
	<editorKitId value="OWLEditorKit"/>
</extension>

<extension id="elk.proofs" point="org.liveontologies.protege.explanation.proof.service">
   <name value="ELK Prover"/>
   <class value="org.semanticweb.elk.protege.proof.ElkProofService"/>
</extension>

<extension id="elk.prover" point="not.org.saa.protege.justifications.ProverService">
   <name value="ELK Prover Service"/>
   <class value="org.semanticweb.elk.protege.proof.ElkProverService"/>
</extension>

</plugin>
