<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

	<!-- throw exceptions for messages with level at least ERROR -->
	<appender name="EXCEPT" class="org.semanticweb.elk.testing.FailingAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<!-- print messages with at least level WARN to standard error -->
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.err</Target>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5r [%t] %-5p %c %ex - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<!-- print all remaining messages to standard out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5r [%t] %-5p %c %ex - %m%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
		<appender-ref ref="EXCEPT" />
	</root>

	<!-- uncomment to lift log level for specific loggers -->
<!--	<logger-->
<!--		name="org.semanticweb.elk.reasoner.saturation.ClassExpressionSaturation"-->
<!--		level="TRACE">-->
<!--		<appender-ref ref="STDOUT" />-->
<!--	</logger>-->


</configuration>