<?xml version="1.0" ?>

<plugin>

    <!--extension id="explanationoverride" point="org.protege.editor.core.application.EditorKitHook">
        <class value="uk.ac.manchester.cs.owl.explanation.ExplanationEditorKitHook"/>
    </extension-->

    <extension id="ProofBasedExplanation"
               point="org.protege.editor.owl.explanation">
        <name value="Proof Based Explanation"/>
        <class value="org.semanticweb.elk.explanations.ProofBasedExplanationService"/>
    </extension>

    <extension id="ProofBasedInconsistencyExplanation"
               point="org.protege.editor.owl.inconsistentOntologyExplanation">
        <class value="org.semanticweb.elk.explanations.ProofBasedInconsistencyExplanationPlugin"/>
        <name value="Proof Based Inconsistent Ontology Explanation"/>
    </extension>

</plugin>
