<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
	<import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
	<import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
	<import class="ch.qos.logback.core.ConsoleAppender" />

	<!-- print messages with at least level WARN to standard error -->
	<appender name="STDERR" class="ConsoleAppender">
		<Target>System.err</Target>
		<encoder class="PatternLayoutEncoder">
			<pattern>%-5r [%t] %-5p %c %ex - %m%n</pattern>
		</encoder>
		<filter class="ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDERR" />
	</root>

</configuration>